@model WUIV2.Models.AvisDeRecherche

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Avis de recherche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animal.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animal.nom)
        </dd>

    </dl>

    <hr />
    <h5>Signalements</h5>
    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Commentaire
            </th>
            <th>
                Utilisateur
            </th>
            <th>
                Adresse
            </th>
            <th>
                Ville
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.signalements)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dateSignalement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.commentaire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.utilisateur.mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ville)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Signaler l'animal", "Create", "Signalements", new { avisDeRechercheId = Model.id }, null) |
    @Html.ActionLink("Revenir à la liste", "Index")
</p>
