@model IEnumerable<WUIV2.Models.AvisDeRecherche>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Créer un avis de recherche", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animal.nom)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animal.nom)
        </td>
        <td>
            @Html.ActionLink("Détails", "Details", new { id = item.id })
        </td>
        <td>
            @Html.ActionLink("Signaler l'animal", "Create", "Signalements", new { avisDeRechercheId = item.id }, null)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Modifier", "Edit", new { id = item.id })
            }
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
            }
        </td>
</tr>
}

</table>
